<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="splash-container">
      <div>
        <h2>A place for sharing your thoughts and ideas ..</h2>
        <p>
          Read blogs on matters from science, politics, religion, philosophy,
          technology and more written by the public.
        </p>
        <p>Write your own blog and spread the knowledge</p>
        <a href="/user">Get Started</a><br />
        <a href="#home-blog-list">Read Blogs</a>
      </div>
    </div>

    <div class="home-blog-list" id="home-blog-list">
      <h2>Latest Leafs</h2>
      <% blogs.forEach( blog => { %>
      <div>
        <h3><%= blog.title %></h3>
        <br />
        <a href="/<%= blog.id %>">Read More</a>
      </div>
      <% }) %>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
